@model FitnessHubStays.Models.ActivityDto
@{
    ViewBag.Title = "Update Activity";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Update Activity</h2>
        </div>
        <div class="col-auto">
            <a href="/Activity/List" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Back To
                Activities
            </a>
        </div>
    </div>

    <form action="/Activity/Update/@Model.ActivityID" method="POST">
        <input type="hidden" class="form-control" id="ActivityID" name="ActivityID" value="@Model.ActivityID" />
        <div class="row">
            <div class="col mb-3">
                <label for="ActivityName" class="form-label">Activity Name:</label>
                <input type="text" class="form-control" id="ActivityName" name="ActivityName"
                       value="@Model.ActivityName" required aria-label="Activity Name" />
            </div>
            <div class="col mb-3">
                <label for="ActivityPrice" class="form-label">Activity Price:</label>
                <input type="number" class="form-control" id="ActivityPrice" name="ActivityPrice"
                       value="@Model.ActivityPrice" step="0.01" required aria-label="Activity Price" />
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="StartTime" class="form-label">Start Time:</label>
                <input type="time" class="form-control" id="StartTime" name="StartTime" required aria-label="Start Time"
                       step="3600" placeholder="HH:00 AM/PM" value="@Model.StartTime.ToString("HH:mm")" />
            </div>
            <div class="col mb-3">
                <label for="EndTime" class="form-label">End Time:</label>
                <input type="time" class="form-control" id="EndTime" name="EndTime" required aria-label="End Time"
                       step="3600" placeholder="HH:00 AM/PM" value="@Model.EndTime.ToString("HH:mm")" />
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="Status" class="form-label">Activity Status:</label>
                <select class="form-select" id="Status" name="Status" required aria-label="Activity Status">
                    <option value="Active" @(Model.Status == "Active" ? "selected" : "" )>Active</option>
                    <option value="Inactive" @(Model.Status == "Inactive" ? "selected" : "" )>Inactive</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Activity</button>
    </form>
</div>