@model FitnessHubStays.Models.RoomDto

@{
    ViewBag.Title = "Update Room";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Edit Room: @Model.RoomNumber </h2>
        </div>
        <div class="col-auto">
            <a href="/Room/List" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Back To Rooms</a>
        </div>
    </div>
    <form action="/Room/Update/@Model.RoomID" method="POST">
        <div class="row">
            <div class="col mb-3">
                <label for="RoomNumber" class="form-label">Room Number:</label>
                <input type="text" class="form-control" id="RoomNumber" name="RoomNumber" required value="@Model.RoomNumber" aria-label="Room Number" />
            </div>
            <div class="col mb-3">
                <label for="RoomType" class="form-label">Room Type:</label>
                <select class="form-select" id="RoomType" name="RoomType" required aria-label="Room Type">
                    <option value="Standard" @(Model.RoomType == "Standard" ? "selected" : "")>Standard</option>
                    <option value="Deluxe" @(Model.RoomType == "Deluxe" ? "selected" : "")>Deluxe</option>
                    <option value="Suite" @(Model.RoomType == "Suite" ? "selected" : "")>Suite</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="RoomPrice" class="form-label">Room Price (per night):</label>
                <input type="number" class="form-control" id="RoomPrice" name="RoomPrice" step="0.01" value="@Model.RoomPrice" required aria-label="Room Price" />
            </div>
            <div class="col mb-3">
                <label for="RoomStatus" class="form-label">Room Status:</label>
                <select class="form-select" id="RoomStatus" name="RoomStatus" required aria-label="Room Status">
                    <option value="Available" @(Model.RoomStatus == "Available" ? "selected" : "")>Available</option>
                    <option value="Occupied" @(Model.RoomStatus == "Occupied" ? "selected" : "")>Occupied</option>
                    <option value="Unavailable" @(Model.RoomStatus == "Unavailable" ? "selected" : "")>Unavailable</option>
                    <option value="Reserved" @(Model.RoomStatus == "Reserved" ? "selected" : "")>Reserved</option>
                    <option value="Out of Service" @(Model.RoomStatus == "Out of Service" ? "selected" : "")>Out of Service</option>
                </select>
            </div>
        </div>
        <div>
            <input type="hidden" class="form-control" id="Room" name="RoomID" value="@Model.RoomID" />
        </div>
        <button type="submit" class="btn btn-primary">Update Room</button>
    </form>
</div>
